<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../../favicon.png" sizes="32x32">
		<link href='../../../css/css.css' rel='stylesheet'/>
		<link href='../../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag ru' id='flag'>flag ru</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='../about.html'>Обо мне</a></li>
						<li class='nav-item'><a class='nav-link' href='../contact.html'>Контакты</a></li>
						<li class='nav-item'><a class='nav-link' href='../work.html'>Разработка</a></li>
						<li class='nav-item'><a class='nav-link' href='../literature.html'>Литература</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Поиск' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Поиск</button>
					</form>
				</div>
			</nav>
			
			<h2>История из жизни.</h2>
			<p>
				<h4>Введение</h4>
					Сегодня 13 марта 2017 года, за окном минус 5 градусов по Цельсию. 
					Погода шепчет, автомобили двигаются с бешеной скоростью, люди идущие Николсу навстречу грустны. 
					В этот день Николс двигался на работу, было около семи часов утра. 
					Сказать что это было чудесное утро, не сказать ничего. 
					Оно было настолько прекрасное, что Николс как прежде не торопился на работу. 
					Он старался рассмотреть все то, что его окружало: автомобили, деревья, скамейки, замерзшие лужи, голуби, доедающие вчерашние кожурки от семечек. 
					Этот день ему запомнился на всю жизнь. Николс - главный герой этой истории, он работает программистом в очень крупной компании под названием "N". 
					С детства ему хотелось работать с машинами, в школе до 11 класса он хотел стать архитектором, и только в 11 классе он решил стать проектировщиком. 
					Почему проектировщиком? потому что ему нравилось черчение. Поступая в ВУЗ он выбрал САПР (Системы Автоматизированного ПРоектирования), думая что он будет чертить, со временем он понимал, что проектирования в ВУЗе мало, зато сильная подготовка по программированию. 
					Курсе на третьем Николс понимает, что выбрал именно ту профессию, в которой хотел бы развиваться всю свою жизнь. 
					И здесь начинаются его приключения.<br /><br />
				<h4>Глава 1</h4>
					Как то раз, сидя за студенческой скамьей, Николс размышлял, чего бы он хотел больше всего в своей жизни. 
					Его мысли были настолько разнообразны, но первое чтобы он хотел реализовать - это написание своего первого приложения, простого, нативного. 
					Когда дали необходимые инструменты, он начинал кодить, день и ночь, день и ночь. 
					В его папках на рабочем столе было столько информации, что он время от времени, зачищал их, потому что он любил порядок. 
					Николс постоянно читал последние новости, был в курсе всего того что происходит во всем мире. 
					В своих программах он писал чистый, понятный каждому код, никогда не писал комментариев, считал их излишними. 
					Однажды, он проснулся ранним утром в районе трех часов и решил погрузиться в мир дискретной математики. 
					Ему легко давалась математика, и он с легкостью понимал каждое написанное слово. 
					Каждый раз читая теорему, он старался ее доказывать самостоятельно. 
					Иногда багажа его знаний не хватало, он обращался к различным источникам. 
					Что касается гуманитарных наук, он их попросту не переносил. Технарь - есть технарь. 
					Когда начинало светать, Николс закончил с математикой и его накрыл полуторачасовой сон.<br /><br />
				<h4>Глава 2</h4>
					После пробуждения, Николс заварил себе кофе. Он любил кофе, но не пил более одной чашки в день. 
					Часов в десять утра, он сел за компьютер, ознакомился с актуальными новостями, и принялся за написание программы. 
					Снова он открывал IDE (Интегрированную Среду Разработки) "Visual Studio", создавал новый проект и начинал воплощать свои мечты в реальность. 
					Его главной задачей было написание настолько понятного приложения, что даже ребенок мог бы в нем разобраться без труда. 
					На тот момент, у Николса за плечами было разработано порядка пары сотен программ, они были на самые разные тематики. 
					Это были как веб-сервисы, так и клиент-серверные приложения, а также пара интернет-магазинов, но ни одного детского приложения у него не было. 
					И вот спутся два - три года Николс начал писать детское приложение. Почему детское? Да потому, что все дети любят играть. 
					Он взял за основу игру "Tap Tap Revenge 4", видоизменил интерфейс, полностью изменил логику в приложении, дополнил его контентом. 
					На то время она была всего лишь для двух платформ - iOS и Android. Он также сделал его кроссплатформенным, это те же платформы iOS и Andoid, плюс разработка для Windows Phone. 
					Когда настала пора публикации приложения в магазины, Николс проверял его сотни раз в день, пока не удостоверился не было ли каких-нибудь там ошибок. 
					После 100% уверенности он его опубликовал. История данного приложения была невероятной, притом что он не тратил денег ни на рекламу, ни на раскрутку, ни на все те мелочи на которые тратят другие разработчики. 
					Его приложение скачивали по всему миру, оно стало настолько популярным, что каждый ребенок знал кто такой Николс.<br /><br />
				<h4>Глава 3</h4>
					Спустя месяца два, наш герой появляется в Австралии, в настолько необычном для него месте. 
					В этой стране Николс впервые, он начинает познавать культуру и приобретает себе жилье и предметы первой необходимости. 
					Здесь у него появляются новые друзья, партнеры по бизнесу. 
					Года три назад, у Николса не было ничего (только ноутбук благодаря которому, впоследствии он сделал состояние), а сейчас у него свой собственный бизнес. 
					Он перестал работать в найм, у него появилось много свободного времени. 
					Теперь все свое свободное время Николс путешествует и берет от жизни все. 
					Одной из причин, почему он перебрался за бугор, была мечта заняться серфингом. 
					Он жил на острове Роттнест, катался на доске. Это был великолепный остров, лето было там круглый год. 
					Николс любил проводить вечера на острове со своим другом, это был пес по кличке Напарник. Лучших друзей я не видел. 
					Напарник любил покушать, частенько озорничал, но он всегда был под рукой у своего друга. 
					Может быть поэтому Николс прозвал его Напарником. 
					Однажды Николс с Напарником поехали на рыбалку, это была первая рыбалка, в этом сезоне и первая поездка на рыбалку у Напарника. 
					До этого Николс своего друга не брал. Приехали они засветло, было около пяти часов вечера. 
					Николс занялся сборкой палатки, а Напарник не долго думая понесся в воду. 
					Вода на ощупь была градусов восемнадцать по Цельсию. Вначале шестого Николс, разложил удилище, поставил рогатку и начал ловить рыбу. 
					Больше одной удочки он не брал. Вы бы видели как он мастерски подсекал, подсечка была отточена на сто процентов. 
					Часа за четыре, Николс наловил порядка сотен рыб. Это были как окуни, так и скумбрии, как треска, так и сомы. 
					У Николса был один золотой принцип, из-за которого я его уважал, это был принцип "catch-and-release" - поймал, отпусти. 
					Рыбалка для Николса была чем то по-настоящему стоящим, он мог сутками напролет смотреть на поплавок. 
					Напарник очень радовался улову хозяина, и время от времени вытаскивал из сачка одну-две рыбки, пока Николс делал прикорм или был занят чем-то другим. 
					Уже было часов двенадцать ночи, как Напарник увидел вдали, какой-то мерцающий объект. 
					Он испугался и прижал хвост, Николс взял его на руки и сказал "не бойся, это светлячок". 
					Впереди была теплая ночь, и восход ожидался в районе семи часов.<br /><br />
				<h4>Глава 4</h4>
					В семь утра было 14 градусов выше нуля, Напарник проснулся чуть раньше восьми. 
					Николс всю ночь просидел не спамши. В начале девятого, клев немного ухудшился, возможно из-за погоды, т.к. ветер менял свое направление. 
					Ветер дул то с северо-западного направления, то с юго-восточного. Но вскоре он вовсе прекратился и совсем распогодилось. 
					Часы показывали без пятнадцати двенадцать, как Николс решил перекусить. Он любил брать с собой гору еды, т.к. был не один. 
					Покормив Напарника, Николс принялся за приготовление ухи. Он любил этот суп и мог есть его днями. 
					После обеда, Николс и Напарник принялись за ловлю рыбы, Николс ловил на поплавочную удочку, Напарник все время мешался под ногами, он делал это не специально. 
					Просидев до позднего вечера, так и не увидев ни одной поклевки, Николс решил вздремнуть, попросив Напарника в случае поклевки, незамедлительно разбудить его. 
					Николс проспал всю ночь, и проснулся в районе шести утра, увидев Напарника засыпающим перед удочкой. 
					Он погладил его, накрыл теплым пледом, дал ему косточку и уложил возле себя, а сам принялся за ловлю. 
					Пока Напарник спал, Николс наловил чуть больше полсотни отборной скумбрии, вероятно он хорошо прикормил. 
					Каждая следующая была на 200-300 грамм крупнее предыдущей. И вот очередная поклевка, Николс подсекает и рыба на крючке. 
					Это была триста сорок седьмая рыба по счету, а уж без счета вышло за все четыреста, посидев еще с полчаса, он решил остановиться. 
					Рыбалка была завершена дня на четыре точно. Николс закутал и накормил Напарника, перекусил сам и выдвинулись они в сторону дома. 
					Дорога была свободна, на часах было давно за полночь, Николс никогда никуда не торопился. 
					Как он всегда говорил еще пара тройка деньков в копилку. Рано утром Николс с Напарником добрались до дома, дорога заняла чуть больше трех с половиной часов. 
					Вывалившись из машины Напарник мухой рванул к себе на койку и вырубился дня на полтора. 
					Николс тем временем убрал все снасти, повесил удочку на место, постирал всю одежду, и планировал приняться за трапезу, как вдруг зазвонил телефон. 
					По трубке говорил его старый знакомый Кеша. Они разговаривали около тридцати семи минут, если быть точным тридцать шесть минут сорок две секунды. 
					После разговора Николс активировал авиарежим и принялся за трапезу. Дело было ближе к обеду как Николс дошел до своей кровати и плюхнулся без задних лап.<br /><br />
				<h4>Глава 5</h4>
					Очередным ранним утром, Николс принялся за составление плана. План заключался в следующем: 
					"Необходимо было автоматизировать процесс преобразования энергии...". 
					Николс любил познавать все новое, находить какие-то нестандартные пути в решении поставленных задач. 
					Данные задачи он ставил себе самостоятельно, потому что уже около пяти лет он работал на себя. 
					Утро было солнечным, Николс вышел на веранду и вдохнул глоток свежего океанического воздуха. 
					Мысли его приободрились, и он решил совершить пробежку по берегу океана. 
					Выдвинулся из дома он чуть позже девяти утра, взяв с собой телефон. 
					План пробежки составлял чуть больше 15 миль по побережью. 
					Океанический воздух, невероятный цвет воды, плавающие за горизонтом дельфины, все это было настолько близко к Николсу, что многие об этом могли только мечтать. 
					Он остановился около небольшого залива, и увидел в полумиле своего близкого друга. 
					Это был Напарник, вы представляете себе, он проснулся прошерстил весь дом, понял что в нем никого нет, и рванул искать свего друга. 
					Николс был рад Напарнику, он искупал его в океане и они двинулись в сторону дома.<br /><br />
				<h4>Глава 6</h4>
					А дома Николса ждал небольшой сюрприз. На столе лежала записка с просьбой. 
					В данной записке, говорилось о какой-то "криптовалюте". 
					Весь смысл заключался в проектировании блокчейн технологии. 
					В то время очень актуальной тематикой была та самая криптовалюта. 
					И он принялся за ее реализацию. Вы знаете хороший программист это не тот, кто больше строк кода напишет, а тот кто, сделает программу быстрой, удобной, легко расширяемой и мигрируемой. 
					Так вот Николс был как раз тем программистом, который мог сопоставлять пару десяток строк для того чтобы сделать всего 2 строки, но при этом алгоритм работы программы не терялся. 
					Напротив, программа работала быстрее и надежнее. Напарник, поначалу злился на своего друга, но со временем он понимал, что "кодить" это смысл жизни Николса и старался заняться чем-то интересным, чтобы "хозяин" (он его крайне редко так называл), после кодирования не забывал сделать забег по берегу океана с Напарником. 
					Было уже давно за полчночь. На улице, где-то недалеко был слышен скрежет. 
					Напарник не мог никак заснуть, но вскоре этот странный звук прекратился и все же сон его удался. 
					Утром он был полон сил и энергии. Николса дома не было, но была оставлена записка со следующим содержанием: 
					"Привет дружище, как проснешься давай дёру к океану, я там". И четырехногий друг недолго думая, рванул со всех лап к океану. 
					Он несся сломя голову, скорость его составляла порядка 50 километров в час. Напарник добрался до океана в течение 3 минут. 
					Он так рад был видеть своего друга, что сбил его с ног и начал ворошить его. 
					Когда он закончил, Николс поднялся, слегка отряхнулся и побежал к маяку. 
					Этот маяк находился в трех с половиной километрах от них. 
					После того, как Николс и Напарник добрались до маяка, было решено подняться на него и посмотреть в сторону дома на северо-запад. 
					Там все было так спокойно, что Напарник стал немного скучать, но он не показывал этого. 
					Напротив, он держался до последнего. И вот день медленно, но верно подходил к концу, на часах было чуть больше восьми часов вечера, и наши друзья возвращались домой. 
					По дороге в дом Николс захватил пару пирожных, арбуз и пачку ароматного чая.</p>
			
			<script>publish_date();</script>
			
			<script>foo();</script>
		</div>
	</body>
</html>