<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../../favicon.png" sizes="32x32">
		<link href='../../../css/css.css' rel='stylesheet'/>
		<link href='../../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='../about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='../contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='../work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='../literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<h2>Story.</h2>
			<p>
				<h4>Introduction</h4>
					Today is March 13, 2017, outside the window minus 5 degrees Celsius. 
					The weather whispers, cars are moving at a frenzied pace, people going Nicholls towards are sad. 
					On this day Nicholls moved to work, it was about seven o'clock in the morning. 
					To say that it was a wonderful morning, did not say anything. 
					It was so beautiful that Nichols, as before, was not in a hurry to work. 
					He tried to consider all that surrounded him: cars, trees, benches, frozen puddles, pigeons, eating yesterday's hides from sunflower seeds. 
					This day he was remembered for life. 
					Nichols is the protagonist of this story, he works as a programmer in a very large company called "N". 
					From childhood he wanted to work with cars, in school until grade 11 he wanted to become an architect, and only in grade 11 he decided to become a designer. 
					Why the designer? because he liked drawing. 
					When entering the university, he chose CAD (Automated Design Systems), thinking that he would draw, eventually he realized that designing in a university is not enough, but a strong preparation for programming. 
					The course on the third Nichols understands that he chose the profession in which he would like to develop his whole life. 
					And here his adventures begin.<br /><br />
				<h4>Chapter 1</h4>
					Once, sitting at the student's bench, Nichols wondered what he would have wanted most in his life. 
					His thoughts were so diverse, but the first thing he wanted to realize was writing his first application, simple, native. 
					When given the necessary tools, he began to cod, day and night, day and night. 
					In his folders on the desktop there was so much information that he occasionally cleaned them, because he liked the order. 
					Nicholls constantly read the latest news, was aware of all that happens all over the world. 
					In his programs he wrote a clean, understandable code, never wrote comments, considered them redundant. 
					One day, he woke up early in the morning around three o'clock and decided to immerse himself in the world of discrete mathematics. 
					He was easily given mathematics, and he easily understood every written word. 
					Each time he read the theorem, he tried to prove it on his own. 
					Sometimes luggage his knowledge was not enough, he turned to different sources. 
					As for the humanities, he simply could not stand them. 
					The technician is technician. 
					When it began to dawn, Nichols finished with mathematics and was covered by a half-hour sleep.<br /><br />
				<h4>Chapter 2</h4>
					After awakening, Nichols brewed his own coffee. 
					He loved coffee, but he did not drink more than one cup a day. 
					At ten o'clock in the morning, he sat down at the computer, got acquainted with the latest news, and began writing the program. 
					Again he opened the IDE (Integrated Development Environment) "Visual Studio", created a new project and began to translate his dreams into reality. 
					His main task was to write a so understandable application that even a child could understand it without difficulty. 
					At that time, Nichols had developed the order of a couple of hundred programs, they were on a variety of topics. 
					It was like web services, and client-server applications, as well as a couple of online stores, but he did not have a single child application. 
					And then went down two or three years Nichols began to write a children's app. Why baby? Yes, because all children love to play. 
					He took as a basis the game "Tap Tap Revenge 4", modified the interface, completely changed the logic in the application, supplemented it with content. 
					At that time it was only for two platforms - iOS and Android. 
					It also made it cross-platform, it's the same iOS platform and Andoid, plus the development for Windows Phone. 
					When it was time to publish the application to the stores, Nichols checked it hundreds of times a day, until he was sure there were any mistakes. 
					After 100% certainty, he published it. The history of this application was incredible, although he did not spend money either on advertising, on promotion, or on all those little things that other developers spend. 
					His application was downloaded around the world, it became so popular that every child knew who Nicholls was.<br /><br />
				<h4>Chapter 3</h4>
					After about two months, our hero appears in Australia, in a place so unusual for him. 
					In this country, Nichols for the first time, he begins to learn about culture and acquires housing and necessities. 
					Here he has new friends, business partners. About three years ago, Nichols had nothing (only a laptop thanks to which, later he made a fortune), and now he has his own business. 
					He stopped working, he got a lot of free time. Now all his free time, Nichols travels and takes everything from life. 
					One of the reasons why he moved to the hill was the dream of surfing. He lived on the island of Rottnest, skied on the board. 
					It was a magnificent island, summer was there all year round. Nichols liked to spend his evenings on the island with his friend, it was a dog named Nasnik. 
					I did not see my best friends. The partner liked to eat, often mischievous, but he was always at hand with his friend. 
					Maybe that's why Nicholls called him Partner. Once Nichols and his partner went fishing, it was the first fishing, this season and the first trip to fishing with Partner. 
					Before that, Nicholls did not take his friend. They arrived early, it was about five o'clock in the evening. 
					Nicholls took up the assembly of the tent, and Mate did not hesitate to plunge into the water for a long time. 
					The water to the touch was about eighteen degrees Celsius. At the beginning of the sixth Nichols, spread out the rod, put the slingshot and began to fish. 
					He did not take more than one fishing rod. You would have seen how skillfully he had cut it, the cutting was perfected by one hundred percent. 
					Hour after four, Nichols caught about a hundred fish. It was like perches, and mackerel, both cod and catfish. 
					Nichols had one golden principle, because of which I respected him, it was the principle of "catch-and-release" - caught, let go. 
					Fishing for Nicholls was something truly worthwhile, he could watch the float for days at a time. 
					The partner was very happy about the catch of the owner, and from time to time he took out one or two fish from the net, while Nichols was making lures or was busy with something else. 
					It was already about twelve o'clock in the morning, as the Partner saw in the distance, some kind of flickering object. He was frightened and pressed his tail, Nicholls took him in his arms and said: "Do not be afraid, it's a firefly." There was a warm night ahead, and the sunrise was expected around seven o'clock.<br /><br />
				<h4>Chapter 4</h4>
					At seven in the morning it was 14 degrees above zero, Mate woke up just before eight. 
					Nichols sat up all night without spammy. 
					At the beginning of the ninth, the biting slightly deteriorated, perhaps because of the weather, because the wind changed its direction. 
					The wind blew then from the north-west direction, then from the southeast. 
					But soon it stopped altogether and completely cleared up. 
					The clock was shown without fifteen twelve, as Nichols decided to have a bite. 
					He liked to take a mountain of food with him, because was not alone. 
					Feeding his partner, Nichols began to prepare the soup. He loved this soup and could eat it for days. 
					After dinner, Nichols and Partner began to fish, Nichols caught on a float fishing rod, Mate constantly interfered under his feet, he did not do it on purpose. 
					After sitting until late in the evening, and not seeing a single bite, Nichols decided to take a nap, asking Mate in case of biting, immediately wake him up. 
					Nichols slept through the night, and woke up around six in the morning, when he saw Neparnik falling asleep in front of the fishing rod. 
					He stroked it, covered it with a warm blanket, gave it a bone and laid it near him, and he began to catch. 
					While Partner was asleep, Nichols caught a little more than fifty selected mackerel, probably he well fed. 
					Each next was 200-300 grams larger than the previous one. And here's another bite, Nichols cuts the fish and hooks. 
					It was the three hundred and forty-seventh fish counting, and without counting for all four hundred, sitting for another half hour, he decided to stop. 
					Fishing was completed by four days exactly. Nicholls wrapped up and fed the Partner, had a bite to eat, and they moved out to the side of the house. 
					The road was free, the clock was long past midnight, Nichols never took a hurry. 
					As he always said a couple more days in a piggy bank. 
					Early in the morning, Nichols and his partner arrived at the house, the road took just over three and a half hours. 
					Leaping from the car Partner flew the Fly fly on his bunk and cut out a day and a half. 
					Nichols meanwhile removed all the gear, hung the fishing pole in place, washed all his clothes, and planned to start the meal, when the phone rang. 
					The old acquaintance of Kesha spoke on the receiver. They talked for about thirty-seven minutes, to be exact thirty-six minutes forty-two seconds. 
					After the conversation, Nichols activated the airplane mode and began to eat. 
					It was closer to dinner as Nichols reached his bed and flopped down without his hind legs.<br /><br />
				<h4>Chapter 5</h4>
					The next early morning, Nichols began to draft a plan. 
					The plan was as follows: "It was necessary to automate the process of energy conversion ...". 
					Nichols loved to learn everything new, to find some non-standard ways to solve the tasks. 
					He set these tasks himself, because for about five years he worked for himself. 
					The morning was sunny, Nichols stepped out onto the veranda and inhaled a breath of fresh ocean air. 
					His thoughts were cheered up, and he decided to jog along the ocean shore. 
					He moved out of the house a little later than nine in the morning, taking a phone with him. 
					The jogging plan was just over 15 miles along the coast. 
					The oceanic air, the incredible color of the water, the dolphins floating around the horizon, all this was so close to Nichols that many of them could only dream of. 
					He stopped near a small bay, and saw half a mile of his close friend. 
					It was a partner, you imagine, he woke up through the whole house, understood that there was nobody in it, and rushed to look for his friend. 
					He found it quickly. Nicholls ran only a tenth and a half mile. He had several ideas in his head. 
					The first was to change the algorithm for extracting energy, oil and other minerals. 
					The next two, in the automation of the workflow associated with the airplane. 
					All for not taking our hero, he always brought it to the end. But here was a large-scale task. 
					And eventually you will find out whether he has allowed her or not. Time moved to lunch. 
					The run was coming to an end and the Partner, to be honest, was already exhausted. 
					They got to the house, had a bite of delicious food and took up each of their own business. 
					Nicholls opened the laptop and started writing the code. My partner decided to rest. 
					But literally an hour and a half later, our hero had to move out of the house. 
					It was necessary to meet with one important person. 
					As soon as they discussed important issues, Nichols took a bottle of Borjomi. And he moved slowly to the house.<br /><br />
				<h4>Chapter 6</h4>
					And at home Nicholsa was waiting for a small surprise. On the table lay a note with a request. 
					In this note, it was said about some "crypto-currency". 
					The whole point was to design the blockade technology. 
					At that time, the very topical topic was the same crypto currency. 
					And he began to implement it. You know a good programmer is not someone who writes more lines of code, but whoever makes the program fast, convenient, easily expandable and migratory. 
					So Nichols was just the programmer who could match a couple of dozen lines in order to make only 2 lines, but the algorithm of the program was not lost. 
					On the contrary, the program worked faster and more reliably. 
					Partner, at first was angry with his friend, but eventually he understood that "kodit" is the meaning of Nichols' life and tried to do something interesting, so that the "master" (he rarely called it that), after coding did not forget to run for shore of the ocean with a partner. 
					It was already a long time at half-time. On the street, somewhere near, there was a sound of grinding. 
					The partner could not fall asleep, but soon this strange sound ceased and yet his dream was a success. 
					In the morning he was full of strength and energy. 
					Nicholls was not at home, but a note was left with the following content: "Hello buddy, how to wake up, tear to the ocean." 
					And a four-footed friend without thinking for a long time, jerked from all the paws to the ocean. 
					He was rushing headlong, his speed was about 50 kilometers per hour. 
					The partner reached the shore of the ocean for 3 minutes. 
					He was glad to see so much his friend that he knocked him off his feet and began to ruffle him. 
					When he had finished, Nicholls rose, shook himself slightly and ran toward the lighthouse. 
					This lighthouse was three and a half kilometers from them. After Nichols and Mate reached the lighthouse, it was decided to climb onto it and look to the north-west. 
					There everything was so calm that Mate became a little bored, but he did not show it. On the contrary, he held to the last. 
					And then the day slowly but surely came to an end, the clock was just over eight o'clock in the evening, and our friends were going home. 
					On the way to the house, Nichols grabbed a couple of cakes, a watermelon and a pack of fragrant tea.
			</p>
			
			<script>publish_date();</script>
			
			<script>foo();</script>
		</div>
	</body>
</html>