<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../favicon.png" sizes="32x32">
		<link href='../../css/css.css' rel='stylesheet'/>
		<link href='../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<h2>About.</h2>
			<p>
				In my opinion, a good program - is first and foremost a program which is used for a long time. 
				The fact that long-term use of the program is fundamentally important. 
				After all, no one did not use the program for a long time, considering it bad. 
				Bad program you always want to find a replacement. 
				Bad program almost no one uses it for a long time. 
				And usually, quite quickly is replacing. 
				And on good programs there is a demand. 
				And while it does not matter what technology to use and what a programming language created by the program. 
				A good program, there may be drawbacks and disadvantages can be significant. 
				But if you use the program, then in the next release of significant shortcomings, as a rule, it becomes smaller. 
				In this sense, a great example of a good program of Windows. 
				To draw an analogy, perhaps not entirely relevant, but a good programmer - is the one whose services are used for a long time. 
				At this his possession by various technologies have always gone by the wayside, compared such features as a good programmer:
			</p>
			<ul>
				<li>Clear that all the requirements of these specifications to develop;</li>
				<li>The ability to critically assess the consistency of the resulting job;</li>
				<li>The minimum percentage requirements are not fulfilled;</li>
				<li>The transfer of tasks to test with a minimum amount of bugs;</li>
				<li>High speed coding;</li>
				<li>Well, and, finally, a good programmer should like him to do;</li>
			</ul>
			<p>
				Master the technology is capable of a lot, but then for a long time to apply the development of technology for the purpose and to solve tasks, given only a good programmer. 
				It does not matter if he puts himself the task itself, or the formulation of doing more. 
				Good programmers write good programs, because they are always in demand, those who know how to shape the requirements for a good program, is able to design a user-friendly interface to choose the best means to develop, attract investments and to move users to the good programs:
			</p>
			<ul>
				<li>Programming today - it's a race program developers seeking to write programs with more and better idiotoustoychivostyu, and the universe, which is trying to create bigger and better idiots. So far, the universe is winning;</li>
				<li>I always dreamed that my computer could use as easily as a telephone; My dream came true: I can not figure out how to use my telephone;</li>
				<li>Education can not teach programming to be an expert, as well as the study of brushes and paints can not turn anyone into an artist;</li>
				<li>Do not worry if something is not working. If it worked, you would be fired;</li>
				<li>Given the current deplorable state of our programs, we can say that the programming is definitely still a black art, and yet we can not call it a technical discipline;</li>
				<li>Chatter is worthless. Show me the code;</li>
				<li>With - a quirky, imperfect, but incredibly successful language;</li>
				<li>PHP - this little evil, created by incompetent novices, while Perl - it is a great and insidious evil created by skillful, but perverted professionals;</li>
				<li>The best programmers are not a bit better quality. They are much better than by any standards: conceptual thinking, speed, creativity and ability to find solutions;</li>
				<li>Beware of bugs in the above code; I just proved correct, but do not run it;</li>
				<li>Sometimes it's better to stay at home to sleep on Monday, than spend the rest of the week debugging Monday's code is written;</li>
				<li>People believe that the programming - is the science of the elect, but the reality is the opposite - a lot of people are creating programs that use the wrong program, as if building a wall of small bricks;</li>
				<li>Please teach the science of programming and the whole theory. Then you work your programmer's style. Then forget everything and simply programmable;</li>
				<li>Many of you are familiar with the virtues of a programmer. There are only three, and say it: laziness, impatience and hubris;</li>
				<li>Most programs today are like the Egyptian pyramids in a million bricks on each other and without the structural integrity - they just built brute force and thousands of slaves;</li>
				<li>Most good programmers do their work, not because they expect payment or recognition, but because they enjoy the programming.</li>
			</ul>
			
			<script>foo();</script>
		</div>
	</body>
</html>