<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../favicon.png" sizes="32x32">
		<link href='../../css/css.css' rel='stylesheet'/>
		<link href='../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<h2>Contact.</h2>
			<p><b>Address:</b> Red Area 3, Russia, Moscow</p>
			<p><b>Support:</b> <a href='mailto:developerkolyn@yandex.ru'>developerkolyn@yandex.ru</a></p>
			<p><b>Phone:</b> 8.917.573.2052</p>
			<p><b>Fax:</b> 8.917.573.2052</p>
			<p><b>Marketing:</b></p>
			<ul>
				<li><a href='http://atlanticgam.es/partner=P09201483980046' target='_blank'>A.G.A.M (Questra World)</a></li>
				<li><a href='mailto:hru91nik@mail.ru'>hru91nik@mail.ru</a></li>
				<li><a href='http://nlstar.com/ref/p1b38s/' target='_blank'>Energy Diet</a></li>
				<li><a href='contact/story.html'>Story</a></li>
				<li><a href='../../../dev/index.html' target='_blank'>Blog light version</a></li>
			</ul>
			<iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.2170875047377!2d37.619439150877675!3d55.754730999216136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5a1c716c07%3A0x72f16fa7fabe17ae!2z0JrRgNCw0YHQvdCw0Y8g0L_Quy4sIDMsINCc0L7RgdC60LLQsCwgMTAxMDAw!5e0!3m2!1sru!2sru!4v1506345194011' width='240' frameborder='1'></iframe>
			
			<script>foo();</script>
		</div>
	</body>
</html>