<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../favicon.png" sizes="32x32">
		<link href='../../css/css.css' rel='stylesheet'/>
		<link href='../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<h2>List literature.</h2>
			<ul>
				<li>JS
					<ul>
						<li><b>John Resig, Russ Ferguson, John Paxton:</b> Pro JavaScript Techniques</li>
						<li><b>Ari Lerner:</b> <a href='https://www.ng-book.com/' target='_blank'>ng-book</a></li>
						<li><b>Felipe Coury, Ari Lerner, Nate Murray, & Carlos Taborda:</b> <a href='https://www.ng-book.com/2/' target='_blank'>ng-book2</a></li>
					</ul>
				</li>
				<li>C++
					<ul>
						<li><b>Jeffrey Richter:</b> Windows Via C/C++</li>
					</ul>
				</li>
				<li>C#
					<ul>
						<li><b>Jeffrey Richter:</b> CLR via C#</li>
						<li><b>Herbert Schildt:</b> The Complete Reference C# 4.0</li>
					</ul>
				</li>
				<li>SQL
					<ul>
						<li><b>Itzik Ben-Gan:</b>Microsoft SQL Server 2012: High-Performance T-SQL: Using Window Functions</li>
						<li><b>Itzik Ben-Gan, Sark, Talmage:</b> Microsoft SQL Server 2012. Creating queries. Microsoft Training Course</li>
					</ul>
				</li>
				<li>First
					<ul>
						<li><b>Knut Donald Erwin:</b> The art of programming</li>
						<li><b>Steve McConnell:</b> Code Complete: Second Edition</li>
						<li><b>Martin Fowler, Kent Beck, John Brunt, William Updike, Don Roberts & Erich Gamma:</b> Refactoring: Improving the Design of Existing Code</li>
					</ul>
				</li>
			</ul>
			
			<script>foo();</script>
		</div>
	</body>
</html>