<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../favicon.png" sizes="32x32">
		<link href='../../css/css.css' rel='stylesheet'/>
		<link href='../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<h2>Working out.</h2>
			<p>
				The profession of a programmer means more than just writing a program code. 
				This profession also includes the field of analytics, business, logistics and much more. 
				Below is a small experience of commercial development in different programming languages.<br /><br />
				The main thing that the world now needs is to write a program that could meet all the user's requests, 	and could also offer options (For example: artificial intelligence). 
				And all this should work incredibly quickly and beautifully.<br /><br />
				In my opinion, the most important reason that will show that you are really demanded specials is writing a clearly structured code in a short time with the least amount of errors. 
				Why the smallest, because there are no programs without errors.<br /><br />
				My favorite quote reads as follows: Write the program so that the fool accidentally does not break it.
			</p>
			<ul>
				<li><a href='work/js.html'>Js</a></li>
				<li><a href='work/c.html'>C#</a></li>
				<li><a href='work/sql.html'>T-SQL</a></li>
				<li><a href='work/vb.html'>VB.Net</a></li>
				<li><a href='work/admin.html'>Administration</a></li>
				<li><a href='work/patterns.html'>Design patterns</a></li>
				<li><a href='https://github.com/nkhrulev/nkhrulev.github.io' target='_blank'>Repositories GitHub</a></li>
			</ul>
			<p><a href='https://money.yandex.ru/to/41001912434870' target='_blank'>Donate</a></p>
			
			<script>foo();</script>
		</div>
	</body>
</html>