<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../favicon.png" sizes="32x32">
		<link href='../../css/css.css' rel='stylesheet'/>
		<link href='../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag ru' id='flag'>flag ru</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='about.html'>Обо мне</a></li>
						<li class='nav-item'><a class='nav-link' href='contact.html'>Контакты</a></li>
						<li class='nav-item'><a class='nav-link' href='work.html'>Разработка</a></li>
						<li class='nav-item'><a class='nav-link' href='literature.html'>Литература</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Поиск' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Поиск</button>
					</form>
				</div>
			</nav>
			
			<h2>Обо мне.</h2>
			<p>
				На мой взгляд, хорошая программа — это прежде всего программа, которой пользуются длительное время. 
				Факт длительного использования программы принципиально важен. 
				Ведь никто же не будет пользоваться программой длительное время, считая ее плохой. 
				Плохим программам всегда хочется найти замену. Плохими программами почти никто не пользуется долго. 
				И обычно, довольно быстро замена находится. А на хорошие программы есть спрос. 
				И при этом совершенно не важно, с использованием какой технологии и какого языка программирования создана программа. 
				У хорошей программы, могут быть и недостатки, и недостатки могут быть существенными. 
				Но, если программой пользуются, то в следующих версиях программы существенных недостатков, как правило, становится меньше. 
				В этом смысле замечательный пример хорошей программы ОС Windows. 
				Если провести аналогии, быть может и не совсем уместные, но хороший программист — это тот, чьими услугами пользуются длительное время. 
				При этом его владение теми или иными технологиями всегда уйдет на второй план, по сравнению c такими особенностями хорошего программиста как:
			</p>
			<ul>
				<li>Четкое выполнение всех требований указанных спецификациях на разработку;</li>
				<li>Способность критически оценить полученное задание на непротиворечивость;</li>
				<li>Минимальный процент не выполненных требований;</li>
				<li>Передача задач на тестирование с минимальным количеством багов;</li>
				<li>Высокоскоростное кодирование;</li>
				<li>Ну, и наконец, хороший программист должен любить делать свою работу;</li>
			</ul>
			<p>
				А как только программиста перестает «переть» от процесса написания кода, от процесса отладки и оптимизации и т.п., он перестает быть хорошим программистом. 
				Овладеть технологиями способны многие, а вот потом в течении длительного времени применять освоенным технологии по назначению и решать поставленные задачи, дано только хорошим программистам. 
				При этом не важно ставит ли он себе задачи сам, или постановкой занимаются другие. 
				В большинстве случаев никому не нужен хороший программист, а именно нужен профессионал — человек решающий задачи других (<b>а не выходящий из бадуна гений, программирующий сферического коня в вакууме</b>). 
				Хорошие программисты, пишут хорошие программы, потому что они всегда востребованы, теми, кто умеет формировать требования к хорошим программам, умеет проектировать удобные интерфейсы, выбирать оптимальные средства разработки, привлекать инвестиции и подвигать к пользователям хорошие программы:
			</p>
			<ul>
				<li>Программирование сегодня — это гонка разработчиков программ, стремящихся писать программы больше и с лучшей идиотоустойчивостью, и вселенной, которая пытается создавать больших и лучших идиотов. Пока вселенная побеждает;</li>
				<li>Я всегда мечтал о том, чтобы моим компьютером можно было пользоваться так же легко, как телефоном. Моя мечта сбылась: я уже не могу разобраться, как пользоваться моим телефоном;</li>
				<li>Обучение программированию не может научить быть экспертом, также как и изучение кистей и красок не может превратить кого-либо в художника;</li>
				<li>Не волнуйтесь, если что-то не работает. Если бы всё работало, вас бы уволили;</li>
				<li>Учитывая текущее плачевное состояние наших программ, можно сказать, что программирование определенно все ещё черная магия и, пока, мы не можем называть его технической дисциплиной;</li>
				<li>Болтовня ничего не стоит. Покажите мне код;</li>
				<li>Программирование на С похоже на быстрые танцы на только что отполированном полу людей с острыми бритвами в руках; PHP — это маленькое зло, созданное некомпетентными новичками, в то время как Perl — это большое и коварное зло, созданное умелыми, но извращёнными профессионалами;</li>
				<li>Лучшие программисты не чуть-чуть лучше хороших. Они на порядок лучше по любым меркам: концептуальное мышление, скорость, изобретательность и способность находить решения;</li>
				<li>Опасайтесь багов в приведенном выше коде. Я только доказал корректность, но не запускал его;</li>
				<li>Иногда лучше остаться спать дома в понедельник, чем провести всю неделю отлаживая написанный в понедельник код;</li>
				<li>Люди считают, что программирование — это наука избранных, но в реальности все наоборот — просто много людей создают программы, которые используют чужие программы, как-будто строя стену из маленьких кирпичиков;</li>
				<li>Сначала учите науку программирования и всю теорию. Далее выработаете свой программистский стиль. Затем забудьте все и просто программируйте;</li>
				<li>Многие из вас знакомы с достоинствами программиста. Их всего три, и разумеется это: <b>лень, нетерпеливость и гордыня</b>. Большинство программ на сегодняшний день подобны египетским пирамидам из миллиона кирпичиков друг на друге и без конструктивной целостности — они просто построены грубой силой и тысячами рабов;</li>
				<li>Большинство хороших программистов делают свою работу не потому, что ожидают оплаты или признания, а потому что получают удовольствие от программирования.</li>
			</ul>
			
			<script>foo();</script>
		</div>
	</body>
</html>