<!DOCTYPE HTML>
<html>
	<head>
		<title>nicols co</title>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta name='description' content='Разработка нового, доработка и поддержка уже существующего функционала, обучение программированию на всех возможных языках. Как добиваться успеха в программировании, наслаждаясь жизнью, при этом работая не 12 часов, а головой.'/>
		<meta name='keywords' content='html5, bootstrap, navbar, разработка, angular, dotnet, startup, программирование, администрирование, как сбросить пароль windows 8, как сбросить пароль windows 10, hot to wix error 40, itunes error 4014, itunes error 4013, хайп, блокчейн, биткоин, pivot, mdx, window functions'/>
		<meta name="google-site-verification" content="Qlu6INt4gikwmVM8uSMy7wEV2NbAcxlL-ZgCuUPrJ-Y" />
		<meta name="yandex-verification" content="7e246d1d1e188569" />
		<link rel="shortcut icon" href="../../../../favicon.ico">
		<link rel="icon" type="image/png" href="../../../../favicon.png" sizes="32x32">
		<link rel="apple-touch-icon" href="../../../../favicon.png" sizes="32x32">
		<link href='../../../css/css.css' rel='stylesheet'/>
		<link href='../../../css/bootstrap.css' rel='stylesheet'/>
		<script src='../../../js/js.js'></script>
	</head>
	<body>
		<div class='container body-content' id='body-content'>
			<nav class='navbar navbar-expand-lg navbar-light bg-white sticky-top border-bottom'>
				<button class='navbar-toggler navbar-toggler-right' type='button' onclick='load_nav()' data-toggle='collapse' data-target='.navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'><span class='navbar-toggler-icon'></span></button>
				<div>
					<a class='navbar-brand icon fa-home' href='../../../index.html'></a>
					<a class='navbar-brand' href='#' onclick='load_lang()'><span class='flag en' id='flag'>flag en</span></a>
				</div>
				<div class='collapse navbar-collapse' id='navbar-collapse'>
					<ul class='navbar-nav mr-auto mt-2 mt-md-0'>
						<li class='nav-item'><a class='nav-link' href='../about.html'>About</a></li>
						<li class='nav-item'><a class='nav-link' href='../contact.html'>Contact</a></li>
						<li class='nav-item'><a class='nav-link' href='../work.html'>Working out</a></li>
						<li class='nav-item'><a class='nav-link' href='../literature.html'>Literature</a></li>
					</ul>
					<form class='form-inline my-2 my-lg-0'>
						<input class='form-control mr-sm-2' type='search' placeholder='Search' id='search_text'/>
						<button class='btn btn-outline-success my-2 my-sm-0' type='button' onclick='search()' id='search_button'>Search</button>
					</form>
				</div>
			</nav>
			
			<script>comeback();</script>
			
			<h3>How to enter the password when logging in, if there is no necessary keyboard layout.</h3>
				<p>
					To see how this works, you can open a simple notepad and follow the instructions below:<br />
					Press and hold the ALT key<br />
					Enter a value (for example, 97 for the English lowercase letter 'a')<br />
					Release the ALT key and you will see the result<br />
					For example, the word 'admin' is entered as:<br />
					a = ALT + 97<br />
					d = ALT + 100<br />
					m = ALT + 109<br />
					i = ALT + 105<br />
					n = ALT + 110<br /><br />
					ASCII tables (for the Cyrillic alphabet the code table MS-DOS 866 is specified)
				</p>
				<table border='1'>
					<tr>
						<th>LATIN</th><th>VALUE</th>
					</tr>
					<tr>
						<td>A</td><td>65</td>
					</tr>
					<tr>
						<td>B</td><td>66</td>
					</tr>
					<tr>
						<td>C</td><td>67</td>
					</tr>
					<tr>
						<td>D</td><td>68</td>
					</tr>
					<tr>
						<td>E</td><td>69</td>
					</tr>
					<tr>
						<td>F</td><td>70</td>
					</tr>
					<tr>
						<td>G</td><td>71</td>
					</tr>
					<tr>
						<td>H</td><td>72</td>
					</tr>
					<tr>
						<td>I</td><td>73</td>
					</tr>
					<tr>
						<td>J</td><td>74</td>
					</tr>
					<tr>
						<td>K</td><td>75</td>
					</tr>
					<tr>
						<td>L</td><td>76</td>
					</tr>
					<tr>
						<td>M</td><td>77</td>
					</tr>
					<tr>
						<td>N</td><td>78</td>
					</tr>
					<tr>
						<td>O</td><td>79</td>
					</tr>
					<tr>
						<td>P</td><td>80</td>
					</tr>
					<tr>
						<td>Q</td><td>81</td>
					</tr>
					<tr>
						<td>R</td><td>82</td>
					</tr>
					<tr>
						<td>S</td><td>83</td>
					</tr>
					<tr>
						<td>T</td><td>84</td>
					</tr>
					<tr>
						<td>U</td><td>85</td>
					</tr>
					<tr>
						<td>V</td><td>86</td>
					</tr>
					<tr>
						<td>W</td><td>87</td>
					</tr>
					<tr>
						<td>X</td><td>88</td>
					</tr>
					<tr>
						<td>Y</td><td>89</td>
					</tr>
					<tr>
						<td>Z</td><td>90</td>
					</tr>
					<tr>
						<td>a</td><td>97</td>
					</tr>
					<tr>
						<td>b</td><td>98</td>
					</tr>
					<tr>
						<td>c</td><td>99</td>
					</tr>
					<tr>
						<td>d</td><td>100</td>
					</tr>
					<tr>
						<td>e</td><td>101</td>
					</tr>
					<tr>
						<td>f</td><td>102</td>
					</tr>
					<tr>
						<td>g</td><td>103</td>
					</tr>
					<tr>
						<td>h</td><td>104</td>
					</tr>
					<tr>
						<td>i</td><td>105</td>
					</tr>
					<tr>
						<td>j</td><td>106</td>
					</tr>
					<tr>
						<td>k</td><td>107</td>
					</tr>
					<tr>
						<td>l</td><td>108</td>
					</tr>
					<tr>
						<td>m</td><td>109</td>
					</tr>
					<tr>
						<td>n</td><td>110</td>
					</tr>
					<tr>
						<td>o</td><td>111</td>
					</tr>
					<tr>
						<td>p</td><td>112</td>
					</tr>
					<tr>
						<td>q</td><td>113</td>
					</tr>
					<tr>
						<td>r</td><td>114</td>
					</tr>
					<tr>
						<td>s</td><td>115</td>
					</tr>
					<tr>
						<td>t</td><td>116</td>
					</tr>
					<tr>
						<td>u</td><td>117</td>
					</tr>
					<tr>
						<td>v</td><td>118</td>
					</tr>
					<tr>
						<td>w</td><td>119</td>
					</tr>
					<tr>
						<td>x</td><td>120</td>
					</tr>
					<tr>
						<td>y</td><td>121</td>
					</tr>
					<tr>
						<td>z</td><td>122</td>
					</tr>
				</table>
				
				<script>publish_date();</script>
				<hr />
				
				<h3>Uninstall all program.</h3>
					<p>For quick access to uninstall programs, press the "Win + R" shortcut and use the following syntax:</p>
					<pre>appwiz.cpl</pre>
					<script>publish_date();</script>
					<hr />
				<h3>Windows 10: Auto login.</h3>
					<p>To autoshoot in windows 10, you need to do some tricks. Open the following registry editor path:</p>
					<pre>HKEY_LOCAL_MACHINE - SOFTWARE - Microsoft - Windows NT - CurrentVersion - Winlogon:</pre>
					<p>And install or add the following properties.</p>
					<pre>AutoAdminLogon: 1<br />DefaultUserName: YOUR_USERNAME<br />DefaultPassword: YOUR_PASSWORD</pre>
					<script>publish_date();</script>
			
			<script>foo();</script>
		</div>
	</body>
</html>